//For anything styling related

.navbar{

    font-family: 'Sofia Sans';
    font-weight: 600;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px -30px 50px 0px #999999;
        
        // Stay on top
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 3.5rem;
        
    }
    
    li{
        float: left;
    
        a{
            display: block;
            color: black;
            text-align: center;
            padding: 1rem 1rem;
            text-decoration: none;
        }
    
        a:hover{
            color: orange;
        }
    }

    #logo{
        color: orange;

        &:hover{
            color: rgb(154, 100, 0);
        }
    }
}

.foot{
    width: 100%;
    height: 5rem;
    
    position: relative;
    bottom: 0;
}

body{
    margin-top: 3.5rem;
    font-family: 'Mulish';
}

label{
    display: block;
}

input{
    margin: 1rem;
    padding: 0.75rem;
    display: block;
    width: 30rem;
    background-color: rgb(230, 230, 230);
    border: 3px hidden orange;
    border-radius: 15px;
    height: 1rem;
    font-family: 'Roboto Slab';

    &:focus{
        background-color: white;
        outline: 3px solid orange;

        &::placeholder{
            color: transparent;
        }
    }

    &[type=radio]{
        border: 0px transparent;
        accent-color: orange;
    }
    &[type=submit]{
        width: 15rem;
        height: 3rem;
        background-color: orange;
    }
}

// input[type=submit]{
//     width: 15rem;
//     height: 3rem;
//     background-color: orange;
// }

textarea{
    display: block;
    padding: 0.75rem;
    min-height: 5rem;
    margin: 1rem;
    border: 3px hidden orange;
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
    resize: vertical;
    width: 30rem;
    font-family: 'Roboto Slab';
    color: black;

    &:focus{
        background-color: white;
        outline: 3px solid orange;

        &::placeholder{
            color: transparent;
        }
    }
}

select{
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.inline-form{

    label{
      display: inline;
      margin: 0;
    }
    input{
      display: inline;
      margin: 0;
    }
 
}

h1{
    font-family: 'Roboto Slab';
}

h2{
    font-family: 'Roboto Slab';
}

.softer-font{
    font-family: 'Sofia Sans';
    font-size: large;
}

.ing-font{
    font-family: 'Sofia Sans';
    font-weight: 400;
    font-style: italic;
}

.softest-font{
    font-family: 'Sofia Sans';
    font-weight: 300;
}

.red-text{
    width: 30rem;
    color: red;
    font-family: 'Mulish';
}

.ml-small{
    margin-left: 2em;
}


.button-primary{
    display: inline-block;
    padding: 1rem;
    font-family: "Poppins";
    text-decoration: none;
    background-color: orange;
    border-radius: 8%;
    cursor: pointer;
    border: 0;

    a{
        color: white;
        font-family: 'Mulish';
        text-decoration: none; 
    }

    &:hover{
        background-color: rgb(154, 100, 0);
    }
}

.button-secondary{

}

a{
    color: black;
    text-decoration: none;

    &:visited{
        color: black;
    }

    &:hover{
        color: orange;
    }
}

dt{
    margin-top: 1rem;
    font-weight: 600;
    font-size: large;
    font-family: 'Sofia Sans';
}

.orange-text{
    color: orange;
}